.unique {
  color: skyblue;
  background-color: teal;
}

.scary {
  color: red;
  font-weight: bold;
}

.catpic {
  width: 200px;
  height: 200px;
}

.lightsOn {
  background-color: white;
  color: black;
}

.lightsOff {
  background-color: black;
  color: white;
}
